<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeyou.yeapiBackend.mapper.InterfaceSecretMapper">

    <resultMap id="BaseResultMap" type="com.yeyou.yeapicommon.model.entity.InterfaceSecret">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="interfaceid" column="interfaceId" jdbcType="BIGINT"/>
            <result property="secret" column="secret" jdbcType="VARCHAR"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,interfaceId,secret,
        isDelete
    </sql>
</mapper>
